<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-2.0.4.xsd">
		
	<sec:http>
    	<sec:intercept-url pattern="/app/login*" filters="none"/>  
    	<sec:intercept-url pattern="/**" access="ROLE_USER" />
    	<sec:form-login login-page='/app/login'/>
		<sec:remember-me key="myAppKey"/>
  	</sec:http>

    <!-- custom Configurer that extends the spring PropertyPlaceholderConfigurer -->
    <bean class="gr.abiss.calipso.config.CalipsoConfigurer"/>        

    <!-- this Acegi helper finds its way into our root Spring context 
         because CalipsoServiceImpl depends on it -->
    <bean id="passwordEncoder" class="org.springframework.security.providers.encoding.Md5PasswordEncoder"/>

    <!-- i18n message source -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
       <property name="basename" value="messages"/>
    </bean>    

    <!-- the business service tier / facade is behind an AOP interceptor (see "target" property)
         only the update operations require transactions across multiple dao update operations -->
    <bean id="calipsoService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>        
        <property name="target">            
            <bean class="gr.abiss.calipso.CalipsoServiceImpl" init-method="init">
                <property name="dao" ref="dao"/>
                <property name="passwordEncoder" ref="passwordEncoder"/>
                <property name="indexer" ref="indexer"/>
                <property name="indexSearcher" ref="indexSearcher"/>
                <property name="messageSource" ref="messageSource"/>
                <property name="localeList" value="${calipso.locales}"/>
                <property name="releaseVersion" value="${calipso.version}"/>
                <property name="releaseTimestamp" value="${calipso.timestamp}"/>
                <property name="calipsoHome" value="${calipso.home}"/>
            </bean>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="store*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>                
                <prop key="bulkUpdate*">PROPAGATION_REQUIRED</prop>
				<prop key="bulkUpdate*">PROPAGATION_REQUIRED</prop>
				<prop key="sendPassword">PROPAGATION_REQUIRED</prop>
				<prop key="executeHourlyTask">PROPAGATION_REQUIRED</prop>
				<prop key="executePollingTask">PROPAGATION_REQUIRED</prop>
				<prop key="runStatePlugins">PROPAGATION_REQUIRED</prop>
				<prop key="runStartupPlugins">PROPAGATION_REQUIRED</prop>
				<prop key="loadAssetAttributes">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_SUPPORTS,readOnly</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- custom factory bean that uses spring single connection data source if embedded
         HSQLDB is being used, else Apache DBCP with connection pooling -->
    <bean id="dataSource" class="gr.abiss.calipso.config.DataSourceFactoryBean">
        <property name="driverClassName" value="${database.driver}"/>
        <property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
        <property name="validationQuery" value="${database.validationQuery}"/>
        <property name="dataSourceJndiName" value="${database.datasource.jndiname}"/>
    </bean>	    

    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources" value="calipso.hbm.xml"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>        
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>     
            </props>
        </property>
        <property name="eventListeners">
            <map>
                <entry key="merge">
                    <bean class="org.springframework.orm.hibernate3.support.IdTransferringMergeEventListener"/>
                </entry>
            </map>
        </property>
    </bean>
    
    <!-- Hibernate DAO implementation.  Transactions (AOP) have been applied at the service layer not here -->
    <bean id="dao" class="gr.abiss.calipso.hibernate.HibernateDao" init-method="createSchema">
        <property name="hibernateTemplate">
            <bean class="org.springframework.orm.hibernate3.HibernateTemplate">
                <property name="sessionFactory" ref="sessionFactory"/>
                <property name="flushMode">
                    <bean id="org.springframework.orm.hibernate3.HibernateAccessor.FLUSH_COMMIT"
                        class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean"/>                    
                </property>
            </bean>
        </property>        
        <!-- <property name="sessionFactory" ref="sessionFactory"/> -->
        <property name="schemaHelper">
            <bean class="gr.abiss.calipso.hibernate.SchemaHelper">                
                <property name="mappingResources" value="calipso.hbm.xml"/>
                <property name="driverClassName" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
                <property name="hibernateDialect" value="${hibernate.dialect}"/>   
                <property name="dataSourceJndiName" value="${database.datasource.jndiname}"/>
            </bean>                
        </property>
    </bean>

	<!-- URL token based login -->
	<bean id="rememberMeProcessingFilter"
		class="org.springframework.security.ui.rememberme.RememberMeProcessingFilter">
		<property name="rememberMeServices" ref="rememberMeServices" />
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>
	<bean id="rememberMeServices"
		class="org.springframework.security.ui.rememberme.TokenBasedRememberMeServices">
		<property name="userDetailsService" ref="calipsoService" />
		<property name="key" value="springRocks" />
	</bean>
	<bean id="rememberMeAuthenticationProvider"
		class="org.springframework.security.providers.rememberme.RememberMeAuthenticationProvider">
		<property name="key" value="springRocks" />
	</bean>
	
</beans>


