<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- Acegi security configuration as Spring context -->

<beans>
       
    <!-- Automatically receives AuthenticationEvent messages -->
    <bean id="loggerListener" class="org.springframework.security.event.authentication.LoggerListener"/>              
    
    <!-- custom factory that switches on ldap / cas authentication if required -->
    <bean id="authenticationManager" class="gr.abiss.calipso.config.ProviderManagerFactoryBean">
        <property name="calipsoService" ref="calipsoService"/>
        <property name="ldapUrl" value="${ldap.url}"/>
        <property name="activeDirectoryDomain" value="${ldap.activeDirectoryDomain}"/>
        <property name="searchBase" value="${ldap.searchBase}"/>
        <property name="authenticationProvider" ref="authenticationProvider"/>
    </bean>
    
    <bean id="authenticationProvider" class="org.springframework.security.providers.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="calipsoService"/>
        <property name="passwordEncoder" ref="passwordEncoder"/>
    </bean>        
    
</beans>


