<wicket:head>
	<style>
	</style>
</wicket:head>
<wicket:panel>
	<div wicket:id="mainContainer" class="calipso-multivalue-text">
		<input type="hidden" wicket:id="valuesField" />
		
		<form wicket:id="addValueform">
			<div wicket:id="feedback"></div>
			<table>
				<thead>
					<tr class="heading">
						<th wicket:id="subFieldsListView" class="bottom">
							<label wicket:id="newValueLabel"></label>
							<input type="text" wicket:id="newValueField" />
							<span wicket:id="newValueHelp"></span><span>&nbsp;</span>
						</th>
						<td wicket:id="submitControls" class="right" colspan="">
							<input type="submit" wicket:id="add" class="submit-to-add"  wicket:message="value:add" />
							<input type="reset" wicket:id="reset"  wicket:message="value:reset" />
						</td>
					</tr>
				</thead>
				<tbody>
					<tr wicket:id="row" class="multivalue">
						<td wicket:id="cell">
							<span wicket:id="cellValue" ></span>
						</td>
						<td class="right">
							<a wicket:id="remove"><img src="resources/delete_row_from_field.gif" wicket:message="alt:delete"/></a>
						</td>
					</tr>
				</tbody>
				
				
			</table>
			
		</form>
	</div>
</wicket:panel>